<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>



	<!-- 设置类别名 -->
    <!--<typeAliases>-->
 		<!--<typeAlias alias="userInfo" type="com.hc360.yunxin.po.UserInfo" />-->
	<!--</typeAliases>-->


	<!--分页插件 -->
	<plugins>
		<plugin	interceptor="com.jjc.ssoClient.common.mybatis.PagingStatementHandlerInterceptor">
			<property name="pageSqlId" value=".*PageList.*" />
		</plugin>
	</plugins>

</configuration>
