<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="产业带Demo">
    <title>个人中心</title>
    <style type="text/css">
    </style>
  </head>
  <br>
<!--    <h2>#springMessage('hi') #springMessage('something')</h2>
    <a href="../iambuyer-ucenter/welcome?language=zh_CN">#springMessage('Chinese')</a>
    <a href="../iambuyer-ucenter/welcome?language=ko">#springMessage('English')</a>
    <a href="../iambuyer-ucenter/something.html">#springMessage('OtherPage')</a>-->

    这里是spring4.X demo框架。
    你的的ID是--》${userId}

  <br/>
    这是查询的Demo
  <br/>
    #foreach($list in $list)
    $list.userId ||
    $list.userName
  <br/>
    #end



  </body>
</html>
